#ulnav
{
  list-style-type: none;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  background-color: #696969;
  font-size: 19px;
  font-family: Sans-serif;
  width: 100%; 
}

#imgg
{
  width: 100%;
}

li a
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover 
{
  background-color: #424242;
}

input[type=text], select 
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#sub
{
  width: 100%;
  background-color: #696969;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-size: 17px;
}

#sub:hover
{
  background-color: #87CEEB;
  color: black;
}

#formd
{
  background-color: #f2f2f2;
  padding: 20px;
}

#top
{
  background-color: #87CEEB;
  padding: 14px 16px;
  font-size: 32px;
  font-family: Sans-serif;
}

th, td
{
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:hover
{
  background-color: #f5f5f5;
}

th {
  background-color: #696969;
  color: white;
  font-family: Verdana;
}

#tb{
  width: 100%;
}

body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
}

* {
  box-sizing: border-box;
}

#backgr {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

#icon {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

body {
  background-repeat: no-repeat;
  background-image: url("pictures/train-back.jpg");
  background-attachment: fixed;
  margin: 0;
  height: 100%;
}
